@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap');

.eventModalTitle {
    font-family: 'Noto Serif KR', serif;
    font-size: 30px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}


.wrap1 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.button-wrap {
    margin-right: 20%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.heart-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(255, 111, 98, .7);
    animation-duration: 600ms;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
}
.heart-button .heart {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    fill: #ff6f62;
    transition: 200ms all;
    pointer-events: none;
}

.heart-button + .number {
    margin-top: -30px;
    height: 20px;
    line-height: 20px;
    padding-left: 55px;
    font-size: 20px;
    font-weight: 700;
    color: #ffb5af;
    transform-origin: left center;
    transform: rotate(0);
    opacity: 1;
    pointer-events: none;
}
.heart-button:before {
    content: "";
    width: 120px;
    height: 120px;
    transition: 300ms all ease-in;
    background-color: #ff6f62;
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    left: 50%;
    top: 50%;
}

.heart-button.active {
    animation-name: fallowHeart;
}
.heart-button.active + .number {
    animation: numberOut 500ms;
}
.heart-button.active:before {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}
.heart-button.fallow {
    animation-name: unFallowHeart;
}
.heart-button.fallow .heart {
    fill: #fff;
}
.heart-button.fallow + .number {
    animation-name: number;
    color: #ff6f62;
}
.heart-button.fallow:before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


.wrap2 {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: left;
    margin-bottom: 5px;
}

.comment-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(255, 111, 98, .7);
    animation-duration: 600ms;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.comment-button:before {
    content: "";
    width: 120px;
    height: 120px;
    transition: 300ms all ease-in;
    background-color: #ff6f62;
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    left: 50%;
    top: 50%;
}


.comment-button .comment {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    fill: #ff6f62;
    transition: 200ms all;
    pointer-events: none;
}

.comment-button.active {
    animation-name: fallowHeart;
}

.comment-button.active:before {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}
.comment-button.fallow {
    animation-name: unFallowHeart;
}
.comment-button.fallow .comment {
    fill: #fff;
}

.comment-button.fallow:before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}



@keyframes fallowHeart {
    0% {
        transform: translateY(0) scale(1);
   }
    40% {
        transform: translateY(20px) scale(0.8);
   }
    65% {
        transform: translateY(-3px) scale(1.2);
   }
    80% {
        transform: translateY(3px) scale(1);
   }
    100% {
        transform: translateX(0);
   }
}
@keyframes unFallowHeart {
    0% {
        transform: translateY(0) scale(1);
   }
    40% {
        transform: translateY(-20px) scale(1.2);
   }
    65% {
        transform: translateY(3px) scale(0.8);
   }
    80% {
        transform: translateY(-3px) scale(1);
   }
    100% {
        transform: translateX(0);
   }
}
@keyframes number {
    0% {
        transform: rotate(0);
        opacity: 1;
   }
    20% {
        opacity: 0;
   }
    50% {
        transform: rotate(180deg);
   }
    80% {
        opacity: 0;
   }
    100% {
        transform: rotate(360deg);
        opacity: 1;
   }
}
@keyframes numberOut {
    0% {
        transform: rotate(360deg);
        opacity: 1;
   }
    20% {
        opacity: 0;
   }
    50% {
        transform: rotate(180deg);
   }
    80% {
        opacity: 0;
   }
    100% {
        transform: rotate(0deg);
        opacity: 1;
   }
}

.imgText{
    float: left;
    padding: 3%;
    width: 45%;
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
    text-align: center;
}

.eventImgCon{
    float: left;
    width: 48%;
}

.testImg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.wrap3 {
    width: 10%;
    height: 100%;
    align-items: right;
    justify-content: right;
    margin: 0;
}

.commentSubmitCon {
    float: left;
    width: 80%;
}

.commentInfo{
    margin-top: 5%;
    width: 100%;
    display: none;
    font-family: 'Noto Serif KR', serif;
}

.commentInput {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 100%;
    height: 30%;
}

input:focus {
    outline:none;
}

.commentSubmit-wrap{
    width: 10%;
    height: 10%;
    float: left;
    margin-left: 8%;
}

.commentSubmit-button {
    width: 70px;
    height: 45px;
    border-radius: 5%;
    background-color: #fff;
    fill: #ff6f62;
    font-weight: bold;
    animation-duration: 600ms;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.commentSubmit-button:before {
    content: "";
    width: 120px;
    height: 120px;
    transition: 300ms all ease-in;
    background-color: #ff6f62;
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    left: 50%;
    top: 50%;
}


.commentSubmit-button .comment {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    fill: #ff6f62;
    transition: 200ms all;
    pointer-events: none;
}

.commentSubmit-button.active {
    animation-name: fallowHeart;
}

.commentSubmit-button.active:before {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}
.commentSubmit-button.fallow {
    animation-name: unFallowHeart;
}
.commentSubmit-button.fallow .comment {
    fill: #fff;
}

.commentSubmit-button.fallow:before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

