@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');



.formModalBody {
    font-family: 'Gabriela', serif;
    width: 100%;
}

.colorHex {
    font-family: 'Luxurious Roman', cursive;
}

.modalTitle {
    float: left;
    width: 60%;
    font-family: 'Gabriela', serif;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}

.currentColor {
    float: left;
    width: 40%;
    font-family: 'Gabriela', serif;
    font-size: 20px;
}

.changeColor {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.printColor {
    font-family: 'Gabriela', serif;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border-radius: 200%;
    box-shadow: 1px 1px 10px gray;
}

.changeColorCon{
    display: none;
}

.inputData{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 40%;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}


.modal-content{
    box-shadow: "";
    opacity: 80%;
    border-radius: 40px;
}

.btn.btn-primary{
    font-family: 'Gabriela', serif;
    background: rgb(4, 79, 96);
    border : 0;
    border-radius: 40px;
}

.btn.btn-primary:hover{
    background: rgb(4, 79, 96);
    box-shadow: 0 0 15px rgb(4, 79, 96);
    border : 0;
}


.btn.btn-primary:active, .btn.btn-primary:focus{
    background: rgb(4, 79, 96);
    border : 2px;
}

.catInfoForm input{
    margin-left: 220px;
}

.catInfoForm h4{
    margin-left: 50px;
}