@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

.catInfo {
    font-family: 'Gabriela', serif;
    font-family: 'Hahmlet', serif;
    font-size: 20px;
    float: left;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}



.dataImg{
    float: left;
    width: 50%;
    
}

.infoTitle{
    font-family: 'Hahmlet', serif;
    
    margin-left: 20px;
}

.infoColor{
    font-family: 'Luxurious Roman', cursive;
}

.showImg {
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 40px;
}

.btn-close{
    margin-left: 10;
}


.dataComment {
    text-align: center;
    margin-left: 3%;
    margin-right: 12%;
    border-style: dashed;
    border-radius: 40px;
    padding: 10px;
}